* {
  box-sizing: border-box;
}

.clearfix:after {
  /* 以下の書き方はIE8以上 */
  content: "";
  clear: both;
  display: block;
}

.gnav ul{
  list-style: none;
}

.header{
  background-color: #fff;
  width: 100%;
  position: fixed;
}

.head{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sp_head{
  margin-right: auto;
}

.head_g ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.head_g li{
  border-left: 1px dashed #959595;
  padding:20px 15px;
}

.head_g li:last-child{
  border-right: 1px dashed #959595;
}

.head_g a{
  color: #55361b;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.head_g a:hover{
  background-color: pink;
  border-radius: 10px;
}

.main_img img{
  max-width: 100%;
  height: auto;
}

.main{
  background-color: #fff2be;
  padding-top: 58px;
}

.main-contents{
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow:0px -3px 0px 3px #f6e396;
  -moz-box-shadow:0px -3px 0px 3px #f6e396;
  -webkit-box-shadow:0px -3px 0px 3px #f6e396;
}

.sp_menu{
  display: none;
}

.head_g{
  display: block;
}

.a2{
  color: red;
}

/*sp*/
@media (max-width: 750px){

  .main{
  }

  .main-contents{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
  }

  .head{
    width: 100%;
    display: block;
  }

  .sp_head{
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
  }

  .logo{
    margin-right: auto;
    margin-left: 10px;
  }

  .head_g{
    display: none;
  }

  .head_g_open{
    display: block;
    background-color: pink;
  }

  .head_g ul{
    display: block;
  }

  .head_g li{
    padding: 12px 0;
    border-bottom: 1px dashed #000;
  }

  .head_g a{
    margin-left: 10px;
  }

  .head_g li:last-child{
    border-bottom: none;
  }

.sp_menu{
  display: block;
  width: 62px;
  height: 54px;
  border: 1px solid #000000;
  border-radius: 10px;
  position: relative;
  cursor:pointer;
  margin-right: 10px;
}

.stick1,
.stick2,
.stick3{
  background-color: red;
  height: 4px;
  width: 36px;
  position: absolute;
}

.stick1{
  top: 12px;
  left: 12px;
}

.stick2{
  top:24px;
  left: 12px;
}

.stick3{
  bottom: 12px;
  left: 12px;
}
}
